<!DOCTYPE html>
<html class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <title></title>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width'>
    </head>
    <body style="background-color: black;">
        <canvas id='canvas' width='<% CANVAS_WIDTH %>' height='<% CANVAS_HEIGHT %>' style="background-color: white;"></canvas>
        <% LIBS %>
        <script src='./js/main.js'></script>
    </body>
</html>
